<body class="bg-warning">
    <!-- Navigation Menu -->
    <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Falco Vulcano-Energia KC Szombathely</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#team-highlights">Team Highlights</a></li>
          <li class="nav-item"><a class="nav-link" href="#meet-the-team">Meet the Team</a></li>
          <li class="nav-item"><a class="nav-link" href="#upcoming-games">Upcoming Games/Events</a></li>
          <li class="nav-item"><a class="nav-link" href="#fan-zone">Fan Zone</a></li>
          <li class="nav-item"><a class="nav-link" href="#join-team">Join Our Team</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact-us">Contact Us</a></li>
        </ul>
      </div>
    </nav> -->
    
    <section class="bg-light ms-4 me-4">
      <h1 class="text-center">Falco News!</h1>
      <div class="container">
        <div class="row border-top border-4 border-warning">
          <div class="col-2 d-flex align-items-center">
            <div>
              <h1>Thursday</h1>
              <h3 class="fs-5 fst-italic">APRIL 13</h3>
            </div>
          </div>
          <div class="col-3">
            <img class="img-fluid" src="assets/injury-report.jpg">
          </div>
          <div class="col-7">
            <a class="link-dark" href="#">
              <h2 class="mt-1">Fortunately Zach Brown's injury isn't that serious!</h2>
            </a>
            <p>Our beloved small-forward hopefully can play in the finals!</p>
          </div>
        </div>

        <div class="row border-top border-4 border-warning">
          <div class="col-2 d-flex align-items-center">
            <div>
              <h1>Wednesday</h1>
              <h3 class="fs-5 fst-italic">APRIL 12</h3>
            </div>
          </div>
          <div class="col-3">
            <img class="img-fluid" src="assets/falco_deac.jpg">
          </div>
          <div class="col-7">
            <a class="link-dark" href="#">
              <h2 class="mt-1">Confident win at the playoff start: Falco - DEAC 87-67!</h2>
            </a>
            <p>Stefan Pot scored 20 points, we had the lead throughout the match!</p>
          </div>
        </div>

        <div class="row border-top border-4 border-warning">
          <div class="col-2 d-flex align-items-center">
            <div>
              <h1>Monday</h1>
              <h3 class="fs-5 fst-italic">APRIL 10</h3>
            </div>
          </div>
          <div class="col-3">
            <img class="img-fluid" src="assets/deac_cur.jpg">
          </div>
          <div class="col-7">
            <a class="link-dark" href="#">
              <h2 class="mt-1">Curiousities about our next opponent: DEAC!</h2>
            </a>
            <p>Before our next match, we have some interesing informations.</p>
          </div>
        </div>

        <div class="row border-top border-4 border-warning">
          <div class="col-2 d-flex align-items-center">
            <div>
              <h1>Sunday</h1>
              <h3 class="fs-5 fst-italic">APRIL 09</h3>
            </div>
          </div>
          <div class="col-3">
            <img class="img-fluid" src="assets/kupagyozelem.jpg">
          </div>
          <div class="col-7">
            <a class="link-dark" href="#">
              <h2 class="mt-1">We won our second Hungarian Cup!</h2>
            </a>
            <p>Strength demonstration in the final against Sopron KC! Our boys won 92-48!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Include Bootstrap and jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

