<body class="bg-warning">
    <section class="bg-light ms-4 me-4">
      <h1 class="text-center">Falco News!</h1>
      <div class="container">
        <div *ngFor="let news of newsCollection | sortByDesc:'publishDate'" class="row border-top border-4 border-warning">
          <div class="col-2 d-flex align-items-center">
            <div>
              <h1 class="fs-2 fw-bold">{{getDayOfTheWeek(news)}}</h1>
              <h3 class="fs-5 fst-italic">{{getMonthAndDay(news)}}</h3>
            </div>
          </div>
          <div class="col-3">
            <img class="img-fluid" [src]="getImageSource(news)"  alt="news image">
          </div>
          <div class="col-7">
            <a class="link-dark" routerLink="/news/{{news.urlId}}">
              <h2 class="mt-1">{{news.mainTitle}}</h2>
            </a>
            <p style="white-space: pre-line">{{news.subTitle}}</p>
          </div>
        </div>
      </div>
      <!-- <div>
        <button (click)="previousPage();getItemsForCurrentPage()" [disabled]="currentPage == 1">Previous</button>
        <button (click)="nextPage();getItemsForCurrentPage();" [disabled]="currentPage == totalPages">Next</button>
      </div> -->
    </section>
</body>

