<div class="container mt-3">
    <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-1">
        <div *ngFor="let player of players | sortBy: 'jerseyNumber'"  class="col">
            <div class="card bg-warning m-2" style="width: 18rem;">
                <img [src]="getImageSource(player)" style="height: 25rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center fw-bolder">{{player.firstName}} {{player.lastName}} ({{getUppercaseSubstring(player.nationality!)}})</h5>
                  <p class="card-text fw-bold">
                    Jersey number: {{player.jerseyNumber}}<br>
                    Age: {{calculateAge(player.birthDate!)}} <br>
                    Position: {{player.position}}<br>
                    Heigth: {{player.heigth}} cm <br>
                    Weigth: {{player.weigth}} kg</p>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-danger" (click)="deletePlayer(player)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

