<div class="container d-flex justify-content-center" *ngIf="game">
  <div class="row">
    <div class="col">
      
      <h1 class="text-center">{{game.homeTeam}} - {{game.awayTeam}}</h1>
      <h1 class="text-center">{{game.place}}</h1>
      <h2 class="text-center">{{getDate(game.startTime!)}}</h2>
      <table class="table table-bordered border-3 border-dark">
        <tr>
          <td class="text-end align-text-top border border-1 border-dark bg-secondary fs-4 fw-bolder">A</td>
          <td class="text-center border border-1 border-dark">
            <table>
              <tr *ngFor="let row of findBySector('A')?.rows">
                <td *ngFor="let seat of row.seats">
                  <button class="btn d-flex align-items-center justify-content-around p-0" style="height:20px;width:20px"
                    id="{{seat.id}}" (click)="seatClicked(seat)" [disabled]="isDisabled(seat)"
                    [ngStyle]="{'backgroundColor': setBackgroundColor(seat),
                                'color': setColor(seat)}">
                    {{seat.seatNumber}}
                  </button>
                </td>
              </tr>
            </table>
          </td>
          <td class="text-end align-bottom border border-1 border-dark bg-secondary fw-bolder fs-4">D</td>
        </tr>
        <tr>
          <td class="text-center border border-1 border-dark align-text-top">
            <table class="p-0 m-0">
              <td *ngFor="let row of findBySector('B')?.rows">
                <tr *ngFor="let seat of row.seats">
                  <button class="btn d-flex align-items-center justify-content-around p-0" style="height:20px;width:20px"
                    id="{{seat.id}}" (click)="seatClicked(seat)" [disabled]="isDisabled(seat)"
                    [ngStyle]="{'backgroundColor': setBackgroundColor(seat),
                                'color': setColor(seat)}">
                    {{seat.seatNumber}}
                  </button>
                </tr>
              </td>
            </table>
          </td>
          <td>
            <img class="img-fluid" src="assets/court_floor.jpg" style="width:480px;height: 280px;" alt="Court_floor">
          </td>
          <td class="text-center border border-1 border-dark align-text-top">
            <table class="p-0 m-0">
              <td *ngFor="let row of findBySector('D')?.rows">
                <tr *ngFor="let seat of row.seats">
                  <button class="btn d-flex align-items-center justify-content-around p-0" style="height:20px;width:20px"
                    id="{{seat.id}}" (click)="seatClicked(seat)" [disabled]="isDisabled(seat)"
                    [ngStyle]="{'backgroundColor': setBackgroundColor(seat),
                                'color': setColor(seat)}">
                    {{seat.seatNumber}}
                  </button>
                </tr>
              </td>
            </table>
          </td>
        </tr>
        <tr>
          <td class="align-text-top border border-1 border-dark bg-secondary fs-4 fw-bolder">B</td>
          <td class="text-center border border-1 border-dark">
            <table>
              <tr *ngFor="let row of findBySector('C')?.rows">
                <td *ngFor="let seat of row.seats">
                  <button class="btn d-flex align-items-center justify-content-around p-0" style="height:20px;width:20px"
                    id="{{seat.id}}" (click)="seatClicked(seat)" [disabled]="isDisabled(seat)"
                    [ngStyle]="{'backgroundColor': setBackgroundColor(seat),
                                'color': setColor(seat)}">
                    {{seat.seatNumber}}
                  </button>
                </td>
              </tr>
            </table>
          </td>
          <td class="align-bottom border border-1 border-dark bg-secondary fs-4 fw-bolder">C</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="d-flex align-items-center entrance-line">
    <div class="text-danger ms-1">Entrance</div>
  </div>
</div>
