@import '~bootstrap-icons/font/bootstrap-icons.css';

html, body {
    height: 100%;
}
  
  #wrap {
    min-height: 100%;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
