<nav id="navbar" class="navbar navbar-expand-lg" height ="1px">
    <div class="container fs-3">

        <a class="navbar-brand" routerLink="/home">
            <img height="80" src="assets/Falco-KC-logo-header.png" alt="FALCO-KC">
        </a>

        <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                    routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                    routerLink="/tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                    routerLink="/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3 me-lg-0" id="settings"
                    routerLink="/settings">Settings</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="https://www.facebook.com/falcokc.hivataloshonlap">
                        <i class="bi bi-facebook text-primary"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="https://www.instagram.com/falco_kc/?hl=hu">
                        <i class="bi bi-instagram instagram-icon"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="https://www.youtube.com/@falco-vulcanoenergiakcyout5865/videos">
                        <i class="bi bi-youtube text-danger"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


